extends layout

block page_title
  title Este es el pagina titulo

block greeting
  h1 ¡Hola Mundo!

block software_engineer
  p ¡Pronto seré ingeniero de software!
  img(src="/images/earth.jpg" alt="El Mundo" title="El Mundo")